---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header activeNav="projects" />
    <main>
      <div class="grid gap-x-4 gap-y-8 sm:grid-cols-2">
        <ProjectCard
          name="stable-karlo"
          link="https://github.com/kpthedev/stable-karlo"
          tech="Streamlit / Pytorch / Hugging Face Diffusers"
          description="A Streamlit app that combines Karlo text-to-image generation with the Stable-Diffusion upscaler in a simple webUI."
        />
        <ProjectCard
          name="ez-text2video"
          link="https://github.com/kpthedev/ez-text2video"
          tech="Streamlit / Pytorch / Hugging Face Diffusers"
          description="Generate videos with AI using text-to-video diffusion in a simple Streamlit webUI."
        />
        <ProjectCard
          name="my-website"
          link="https://github.com/kpthedev/my-website"
          tech="Astro / Tailwind / TypeScript"
          description="My personal website and blog built with Astro and Tailwind."
        />
        <ProjectCard
          name="cloning-my-friends"
          link="https://github.com/kpthedev/cloning-my-friends"
          tech="Pytorch / Hugging Face Transformers"
          description="Fine-tuning GPT models on a single GPU using Transformers."
        />
      </div>
    </main>
    <Footer />
  </body>
</html>
