---
export interface Props {
  name: string;
  link: string;
  description: string;
  tech?: string;
}

const { name, link, description, tech } = Astro.props;
---

<projectcard>
  <div class="nb-block-big min-h-full p-5">
    <div class="flex justify-between">
      <a
        class="inline"
        href={link}
        target="_blank"
        rel="external noopener nofollow"
      >
        <h2 class="pb-1 text-2xl font-extrabold">
          {name}
          <svg
            class="inline"
            xmlns="http://www.w3.org/2000/svg"
            style="vertical-align: -0.125em;"
            width="1em"
            height="1em"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 512 512"
            ><rect
              x="0"
              y="0"
              width="512"
              height="512"
              fill="none"
              stroke="none"></rect><path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
              d="M384 224v184a40 40 0 0 1-40 40H104a40 40 0 0 1-40-40V168a40 40 0 0 1 40-40h167.48M336 64h112v112M224 288L440 72"
            ></path></svg
          >
        </h2>
      </a>
    </div>
    {tech && <p class="text-md font-mono font-light">{tech}</p>}
    <p class="pt-2 text-lg">
      {description}
    </p>
  </div>
</projectcard>
